body {
  background-color: #f4f4f4;
  background-image: url(../images/musicbackground.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #555;
  font-family: "Vollkorn", serif;
  line-height: 1.6em;
  margin: 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background-color: #f4f4f4;
  margin: 4 em;
  padding: 4 em;
}

.h1 {
  font-size: 1.5em;
}

#mainfooter {
  clear: both;
  background-color: #666666;
  color: #ffffff;
  padding-top: 40px;
  border-top: solid #4aaaa5 8px;
  box-sizing: border-box;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  overflow: hidden;
  z-index: 8;
}
